@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title:</h2><br />

<address>
    <h4>Votre Monde</h4>
    Cicha Street 24<br />
    Rzeszów, 35-317<br />
    Poland <br /> <br />
    <abbr title="Phone">Phone:</abbr>
    883 943 423 <br />
    <abbr title="Phone">Phone:</abbr>
    775 674 834
</address>

<address>
    <strong>Office:</strong>   <a href="mailto:office@votremonde.com">office@votremonde.com</a><br />
    <strong>Support:</strong> <a href="mailto:support@votremonde.com">support@votremonde.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@votremonde.com">marketing@votremonde.com</a>
</address>