@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Votre Monde</h2>
    <p class="lead">
        Votre Monde is new polish leading company in travel bussiness.
        You can travel almost everywhere with us in a simple 3 step journey! Since today with 30% discount on every travel! Just like us on facebook.com
    </p>
    <p><a href="https://www.facebook.com/pages/Votre-Monde/826312250772003?fref=ts" class="btn btn-primary btn-lg">Like us here&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1 - Getting started</h2>
        <p>
            Votre Monde gives you an unlimited and powerful access into almost every place all over the world.
            With just a few clicks you can make a reservation in the train of your dreams.
            The first step is to make a registration on our website.
        </p>
        <p>
            <a class="btn btn-default" href="/Account/Register">Register &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step 2 - Search for train</h2>
        <p>
            Second step is to search for train, choose your favourite connection,
            give us some basic information about your trip and let's start your packing. Good Luck!
        </p>
        <p>
            <a class="btn btn-default" href="/Trains/Search">Search for train &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Step 3 - Enjoying Holiday</h2>
        <p>
            Last part of it is just to enjoy your holiday, without worring about anything - we will take care of it!
            Don't you forget to tweet about us after comming back! So let's have a GOOD time with Votre Monde!
        </p>
        <p>
            <a class="btn btn-default" href="https://twitter.com/">Tweet about us &raquo;</a>
        </p>
    </div>
</div>